body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* header */
#header {
  height: 69px;
  width: 1200px;
  display: flex;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
  position: fixed;
  margin: 0;
  z-index: 20;
  top: 0px;
}

#header img {
  max-height: 50px;
  padding: 10px;
}

#header a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

#header .headerlinks {
  display: flex;
  flex: 2 2 150px;
  justify-content: flex-end;
}

/* Main */

.Container {
  background-image: url(../Images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mission {
  background-color: black;
  opacity: 0.9;
  height: auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 5px;
}

/* Tea of month */

.Tea {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.description {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Three images */

.threeimages img {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threeimages {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.threedescription {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center
}

.threedescription p {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Two images */

.twoimages img {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 10px;
}

.twoimages {
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.twodescription {
  width: 1000px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twodescription p {
  width: 300px;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

/* Locations */

.locations {
  height: 500px;
  width: 1200px;
  background-image: url(../Images/img-locations-background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#locations-header {

}

.downtown {
  background-color: black;
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.EBayside {
  background-color: black;
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.Oakdale {
  background-color: black;
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}
