body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* header */
.header {
  height: 69px;
  width: 1200px;
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.header img {
  max-height: 50px;
  padding: 10px;
}
.header a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
}

.header .headerlinks {
  display: flex;
  flex: 2 2 150px;
  justify-content: flex-end;
}

/* Body */

.Container {
  background-image: url(../Images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Mission {
  background-color: black;
  opacity: 0.9;
  height: 100px;
}
